.box {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  margin-top: 5%;
  background-color: aliceblue;
}

.city {
  border: 5px solid black;
  width: 60%;
  text-align: center;
}

p {
  margin: 5px;
}
h2 {
  text-align: center;
}

.button {
  text-align: center;
}
.btn {
  font-size: 2rem;
  padding: 0.5%;
  margin: 1%;
}
