.box {
  width: calc(100%-5px);
  height: 30%;
  border: 5px solid black;
  display: flex;
  justify-content: space-around;
}

.input {
  margin-top: 5%;
  width: 30%;
  height: 10%;
}
input {
  border-radius: 10px;
  font-size: 2rem;
}
h6 {
  font-size: 1rem;
  margin: 0;
}
.info {
  margin-top: 10%;
  font-size: 1.5rem;
}

.temp {
  font-size: 3rem;
  margin-top: 5%;
}

.foto {
  margin-top: 5%;
}
